@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Works on Firefox */
* {
    scrollbar-width: .4vw;
    scrollbar-color: #9F08FC rgba(219, 219, 220, 0);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: .4vw;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(219, 219, 220, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #9F08FC;
    border-radius: .4vw;
  }
body{
    background-color:#18141c;
    font-family: 'Inter', sans-serif;
    overflow-x:hidden;
    scroll-behavior: smooth;
    height:350vh;
    width:100vw;
    margin:0;
    padding:0;
}
.background-thing{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    opacity:.6;
}
.swirl{
    position:absolute;
    top:-55vh;
    width:50vw;
    right:-25vw;
    transform: rotate(-50deg);
    opacity:.3;
}
.swirl2{
    position:absolute;
    top:-25vh;
    width:50vw;
    left:-25vw;
    transform: rotate(130deg);
    opacity:.3;
}
.temp-aligner-1{
    position: absolute;
    top:0px;
    left:0px;
    background-color:#D9D9D9;
    width:6vw;
    height:300vh;
    display:none;
}
.temp-aligner-2{
    position: absolute;
    top:0px;
    right:0px;
    background-color:#D9D9D9;
    width:6vw;
    height:300vh;
    display:none;
}
header{
    position:absolute;
    top:3vh;
    left:6vw;
    /*background-color:red;*/
    width:88vw;
    height:15vh;
}
.logo{
    width:60px;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left:2.5vw;
}
.nav-wrapper{
    position:absolute;
    bottom:25%;
    top:25%;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    width:55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5vw;
}
.nav-element{
    color: white;
    font-size: 3vh;
    cursor:pointer;
}
.nav-element.selected{
    color:#CE80FF !important;
    font-size: 3.5vh;
}
.bar1, .bar2, .bar3 {
    width: 5vh;
    height: 0.7598784194528876vh;
    background-color: #9F08FC;
    margin: 0.9118541033434651vh 0;
    transition: transform 0.4s, opacity 0.4s;
}
.change .bar1 {
    user-select:none;
    -webkit-transform: rotate(-45deg) translate(-1.3677811550151975vh, 0.9118541033434651vh);
    transform: rotate(-45deg) translate(-1.3677811550151975vh, 0.9118541033434651vh);
}
.change .bar2 {opacity: 0;user-select:none;}
  
.change .bar3 {
    user-select:none;
    -webkit-transform: rotate(45deg) translate(-1.21580547112462vh, -1.21580547112462vh);
    transform: rotate(45deg) translate(-1.21580547112462vh, -1.21580547112462vh);
}
.menu-container{
    position:absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right:2.5vw;
    cursor:pointer;
    user-select:none;
    display:none;
}

.sign-in{
  position:absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right:8vw;
  cursor:pointer;
  height:40px;
  width:100px;
  color:#9F08FC;
  background: none;
  border:none;
  border-radius:2px;
  font-size:18px;
}


.sign-up{
  position:absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right:-1vw;
  cursor:pointer;
  height:40px;
  width:100px;
  color:white;
  background-color:#9F08FC;
  border:none;
  border-radius:2px;
  font-size:18px;
}

.sign-in-up-wrapper{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:rgba(24, 20, 28, 0);
  visibility: hidden;
  transition: background-color .4s;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:15;
}
.sign-in-wrapper-active{
  transition: background-color .4s;
  visibility: visible;
  background-color:rgba(24, 20, 28, .8);
}



.container * {
	box-sizing: border-box;
}

.container h1 {
	font-weight: bold;
	margin: 0;
}

.containerh2 {
	text-align: center;
}

.container p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.container span {
	font-size: 12px;
}

.container a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.container button {
	border-radius: 20px;
	border: 1px solid #9F08FC;
	background-color: #9F08FC;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor:pointer;
}

.container button:active {
	transform: scale(0.95);
}

.container button:focus {
	outline: none;
}

.container button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.container form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.container input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	box-sizing: border-box;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: transform 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #9F08FC;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}













.shapes{
    display:block;
}
.cssanimation, .cssanimation span {
    animation-duration: 1.6s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(15%);
    }
    to { opacity: 1 }
}

.big-text-text{
    font-size: 10vh;
    font-style: normal;
    font-weight: bold;
    font-size: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.big-text{
    position: absolute;
    width: 80vw;
    height: 26vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 18vh;
}
.small-text-wrapper{
    position: absolute;
    width: 70vw;
    height: 26vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display:flex;
    top: 42vh;
    font-size: 5vh;
    text-align:center;
    color: rgba(219, 219, 220, 0.83);
}
.small-text{
    margin:auto;
}
.main-button{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 72vh;
}
.main-button-button{
    width: 300px;
    height: 10vh;
    background: rgba(159, 8, 252, 0.95);
    border-radius: 1vh;
    border:none;
    color:white;
    font-family: 'Inter', sans-serif;
    font-size:4vh;
    font-weight:bold;
    cursor:pointer;
}
.hr-wrapper{
    position:absolute;
    height:5vh;
    width:54px;
    top:90vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.glowing{
    box-shadow: 0 0 1vw .1vw #FFF;
    animation: glow ease-in-out 1s infinite alternate;
}
@keyframes glow {
  0%   {box-shadow: 0 0 0vw 0vw #FFF;}
  100%  {box-shadow: 0 0 1vw .05vw #FFF;}
}

.title{
    font-size: 10vh;
    font-style: normal;
    font-weight: bold;
    font-size: 8vh;
    text-align: center;
    color: #FFFFFF;
    width: 80vw;
    height: 26vh;
    opacity:0;
}
.title-wrapper{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 95vh;
}
.news-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
    top:125vh;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height:70vh;
    width:80vw;
}
.news-element{
    flex: 1 1 200px;
    margin: 30px;
    margin-top:0;
    margin-bottom: 0;
    overflow: hidden;
    opacity:0;
    position:relative;
}
.news-image{
    position:relative;
    width:10vh;
    height:10vh;
    border-radius: 50vw;
    top:2vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.news-title{
    color:white;
    position:relative;
    top:2vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-size:4vh;
}
.news-text{
    position:relative;
    top:2vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align:center;
    color: rgba(219, 219, 220, 0.83);
}
.staff-title{
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:10vh;
}
.staff-wrapper{
    margin-top:5vh;
    width:80vw;
    display: flex;
    flex:auto;
    gap:60px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: top;
}
.staff-image-wrapper{
    background-color:#9F08FC;
    width:100px;
    height:100px;
    border-radius: 50%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    opacity:0;
    cursor:pointer;
    box-shadow: 0 0 10px .01px #9F08FC;
    transition: box-shadow .2s, height 1s;
}
.staff-image-wrapper:hover{
    box-shadow: 0 0 50px .01px #9F08FC;
}
.staff-image{
    border-radius: 50%;
    width:94px;
    height:94px;
    margin:3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
.staff-image-mini-wrapper{
    position:absolute;
    bottom:2px;
    right:2px;
    width:80px;
    height:35px;
    display:flex;
    justify-content: right;
    gap:2px;
}
.staff-image-mini{
    border-radius: 50%;
    width:35px;
    height:35px;
}

.bio-wrapper{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:rgba(24, 20, 28, 0);
  visibility: hidden;
  transition: background-color .4s;
  display:flex;
  justify-content: center;
  align-items: center;
}
.bio-wrapper-active{
  transition: background-color .4s;
  visibility: visible;
  background-color:rgba(24, 20, 28, .8);
}
.bio-flex-wrapper{
  height:90vh;
  width:350px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.bio-card{
  opacity:0;
  width:300px;
  height:520px;
  border-radius: 5px;
  background-color: #18141c;
  transition: opacity 1s;
  box-shadow: 0 0 100px .05px #9F08FC;
}
/*#F9F0FF*/
.bio-card-active{
  opacity:1;
  transition: opacity 1s;
}
.bio-image{
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  margin-top:15px;
  width:95px;
  height:95px;
}
.bio-close-button{
  margin:0;
  padding:0;
  background:none;
  width:100px;
  height:40px;
  border-radius: 20px;
  color:white;
  text-align: center;
  line-height: 100%;
  font-size:20px;
  cursor:pointer;
  border: 2px solid white;
  transition: background-color .4s, width .4s, color .4s;
}
.bio-close-button:hover{
  background-color:rgba(24, 20, 28, 1);
  border: 2px solid #CE80FF;
  color:#CE80FF;
  width:200px;
}








































@media only screen and (max-width: 950px) {
    .shapes {
      display:none;
    }
  }
  @media only screen and (max-width: 800px) {
    .big-text-text {
      font-size: 9vh;
    }
  }
  @media only screen and (max-width: 665px) {
    .big-text-text {
      font-size: 8.5vh;
    }
  }
  @media only screen and (max-width: 625px) {
    .big-text-text {
      font-size: 8.2vh;
    }
    .small-text-wrapper{
        top:39vh;
    }
  }
  @media only screen and (max-width: 605px) {
    .big-text-text {
      font-size: 8vh;
    }
  }
  @media only screen and (max-width: 590px) {
    .big-text-text {
      font-size: 7.6vh;
    }
  }
  @media only screen and (max-width: 560px) {
    .big-text-text {
      font-size: 7.2vh;
    }
    .small-text-wrapper{
        top:36vh;
        font-size:4vh;
    }
    .nav-wrapper{
        display:none;
    }
    .menu-container{
        display:block;
    }
    .main-button-button{
        border-radius:25px;
    }
    .logo{
      display:none;
    }
    .sign-in{
      left:28vw;
      font-size:20px;
    }
    .sign-up{
      left:2vw;
      font-size:20px;
    }
  }
  @media only screen and (max-width: 530px) {
    .big-text-text {
      font-size: 7vh;
    }
  }
  @media only screen and (max-width: 515px) {
    .big-text-text {
      font-size: 6.6vh;
    }
  }
  @media only screen and (max-width: 485px) {
    .small-text-wrapper{
        top:40vh;
        font-size:3.8vh;
    }
  }
  @media only screen and (max-width: 430px) {
    .big-text-text {
        font-size: 8.5vw;
      }
      .small-text-wrapper{
        top:36vh;
    }
  }
  @media only screen and (max-width: 400px) {
    .big-text-text {
        font-size:8.8vw;
      }
  }
  @media only screen and (max-width: 382px) {
    .big-text-text {
        font-size: 8.5vw;
      }
  }
  @media only screen and (max-width: 357px) {
    .big-text-text {
        font-size: 8.3vw;
    }
    .big-text{
        top:16vh;
    }
    .main-button-button{
        width:200px;
        border-radius: 5px;
    }
  }