@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Works on Firefox */
* {
    scrollbar-width: .4vw;
    scrollbar-color: #9F08FC rgba(219, 219, 220, 0);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: .4vw;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(219, 219, 220, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #9F08FC;
    border-radius: .4vw;
  }
body{
    background-color:#18141c;
    font-family: 'Inter', sans-serif;
    overflow-x: clip;
    height:300vh;
    scroll-behavior: smooth;
    width:100vw;
    margin:0;
    padding:0;
}
.background-thing{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    opacity:.6;
}
.swirl{
    position:absolute;
    top:-55vh;
    width:50vw;
    right:-25vw;
    transform: rotate(-50deg);
    opacity:.3;
}
.swirl2{
    position:absolute;
    top:-25vh;
    width:50vw;
    left:-25vw;
    transform: rotate(130deg);
    opacity:.3;
}
.temp-aligner-1{
    position: absolute;
    top:0px;
    left:0px;
    background-color:#D9D9D9;
    width:6vw;
    height:300vh;
    display:none;
}
.temp-aligner-2{
    position: absolute;
    top:0px;
    right:0px;
    background-color:#D9D9D9;
    width:6vw;
    height:300vh;
    display:none;
}
header{
    position:absolute;
    top:3vh;
    left:6vw;
    /*background-color:red;*/
    width:88vw;
    height:15vh;
}
.logo{
    width:4vw;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left:2.5vw;
}
.nav-wrapper{
    position:absolute;
    bottom:25%;
    top:25%;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    width:55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5vw;
}
.nav-element{
    color: white;
    font-size: 3vh;
    cursor:pointer;
}
.nav-element.selected{
    color:#CE80FF !important;
    font-size: 3.5vh;
}
.bar1, .bar2, .bar3 {
    width: 5vh;
    height: 0.7598784194528876vh;
    background-color: #9F08FC;
    margin: 0.9118541033434651vh 0;
    transition: transform 0.4s, opacity 0.4s;
}
.change .bar1 {
    user-select:none;
    -webkit-transform: rotate(-45deg) translate(-1.3677811550151975vh, 0.9118541033434651vh);
    transform: rotate(-45deg) translate(-1.3677811550151975vh, 0.9118541033434651vh);
}
.change .bar2 {opacity: 0;user-select:none;}
  
.change .bar3 {
    user-select:none;
    -webkit-transform: rotate(45deg) translate(-1.21580547112462vh, -1.21580547112462vh);
    transform: rotate(45deg) translate(-1.21580547112462vh, -1.21580547112462vh);
}
.menu-container{
    position:absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right:2.5vw;
    cursor:pointer;
    user-select:none;
    display:none;
}
.cssanimation, .cssanimation span {
    animation-duration: 1.6s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(15%);
    }
    to { opacity: 1 }
}

.big-text-text{
    font-size: 10vh;
    font-style: normal;
    font-weight: bold;
    font-size: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.big-text{
    position: absolute;
    width: 80vw;
    height: 26vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 18vh;
}
.small-text-wrapper{
    position: absolute;
    width: 70vw;
    height: 26vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display:flex;
    top: 42vh;
    font-size: 5vh;
    text-align:center;
    color: rgba(219, 219, 220, 0.83);
}
.small-text{
    margin:auto;
}
.main-button{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 72vh;
}
.main-button-button{
    width: 24vw;
    height: 10vh;
    background: rgba(159, 8, 252, 0.95);
    border-radius: 1vh;
    border:none;
    color:white;
    font-family: 'Inter', sans-serif;
    font-size:4vh;
    font-weight:bold;
    cursor:pointer;
}
.hr-wrapper{
    position:absolute;
    height:5vh;
    width:54px;
    top:90vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.glowing{
    box-shadow: 0 0 1vw .1vw #FFF;
    animation: glow ease-in-out 1s infinite alternate;
}
@keyframes glow {
  0%   {box-shadow: 0 0 0vw 0vw #FFF;}
  100%  {box-shadow: 0 0 1vw .05vw #FFF;}
}

.title{
    font-size: 10vh;
    font-style: normal;
    font-weight: bold;
    font-size: 8vh;
    text-align: center;
    color: #FFFFFF;
    line-height: 10vw;
    width: 80vw;
    height: 26vh;
    opacity:0;
}
.title-wrapper{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 95vh;
}
.news-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
    top:125vh;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height:70vh;
    width:80vw;
}
.news-element{
    flex: 1 1 200px;
    margin: 30px;
    margin-top:0;
    margin-bottom: 0;
    overflow: hidden;
    opacity:0;
    position:relative;
}
.news-image{
    position:relative;
    width:10vh;
    height:10vh;
    border-radius: 50vw;
    top:2vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.news-title{
    color:white;
    position:relative;
    top:2vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-size:4vh;
}
.news-text{
    position:relative;
    top:2vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align:center;
    color: rgba(219, 219, 220, 0.83);
}
.staff-title{
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:10vh;
}
.staff-wrapper{
    margin-top:10vh;
    width:80vw;
    display: flex;
    gap:60px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: top;
}
.staff-image-wrapper{
    background-color:#9F08FC;
    width:100px;
    height:100px;
    border-radius: 50%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    opacity:0;
    cursor:pointer;
    box-shadow: 0 0 10px .01px #9F08FC;
    transition: box-shadow .2s;
}
.staff-image-wrapper:hover{
    box-shadow: 0 0 50px .01px #9F08FC;
}
.staff-image{
    border-radius: 50%;
    width:94px;
    height:94px;
    margin:3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
.staff-image-mini-wrapper{
    position:absolute;
    bottom:2px;
    right:2px;
    width:80px;
    height:35px;
    display:flex;
    justify-content: right;
    gap:2px;
}
.staff-image-mini{
    border-radius: 50%;
    width:35px;
    height:35px;
}